<%= render 'contents/search' %>

<% @contents.each do |content| %>
  <div class="col-sm-offset-1 col-sm-10">
    <div class="well" style="height: 340px;">
      <%= link_to content_path(content.id) do %>
        <h3><%= content.title %></h3>
        <div class="col-sm-5">
          <video controls name="media" width="100%">
            <source src=<%= content.video_url.to_s %>>
          </video>
        </div>
        <div class="raw">
          <div class="col-sm-7">
            <h4 style="width: 80%; word-break: break-all;">
              <%= content.description %>
            </h4>
          </div>
        </div>
        <div style="padding-top: 150px;">
          <%= link_to user_path(content.user) do %>
            <h3 class="text-right"><%= content.user.name %></h3>
          <% end %>
          <h5 class="text-right"><%= content[:created_at].strftime("%Y-%m-%d %H:%M") %></h5>
        </div>
      <% end %>
    </div>
  </div>
<% end %>