<div class="conteiner" style="height: 600px;">
  <div class="col-sm-12">
	<h1 class="col-sm-offset-4 col-sm-4">ユーザー情報編集</h1>
  </div>
	<%= form_for(@user) do |f| %>
	  <div class="col-sm-12" style="margin-top: 60px;">
		<div class="col-sm-offset-3 col-sm-2">
  		  <%= f.label "アイコン" %>
  		  <%= f.file_field :image, id: :user_image %><br>
  		  <%= f.hidden_field :image_cache %>
		</div>
		<div class="ol-sm-7">
		  <%= f.label "自己紹介"%><br>
			<div style="color: #000000">
  			  <%= f.text_area :introduction, size: "70x10" %>
  			</div>
		</div>
	  </div>
	  <div class="col-sm-12" style="margin-bottom: 60px;">
	    <div class="col-sm-offset-3 col-sm-2">
  		  <%= f.label "ユーザー名", :name %>
  		  <div style="color: #000000">
  			<%= f.text_field :name, size: "33x10" %>
  		  </div>
		</div>
		<div class="col-sm-offset-6 col-sm-1">
		  <%= link_to "退会", user_path(current_user), :method => :delete, "data-confirm" => "本当に退会しますか？ 出金されていない残高は失われてしまいます。",class:" btn btn-danger btn-lg" %>
		</div>
	  </div>
	  <div class="col-sm-offset-5 col-sm-1 text-center" style="color: #000000;">
	    <%= f.submit "完了", style:"width: 160px; height: 50px;" %>
	  </div>
	<% end %>
</div>