<!-- ForMove受け取り履歴 -->
<div class=""col-sm-12>
	<div class="col-sm-6">
		<h1 class="col-sm-12 text-center" style="margin-bottom: 50px;">受信一覧</h1>
		<div class="col-sm-offset-1 col-sm-11" style="border-bottom: solid 1px white;">
			<h3 class="col-sm-3">送り主</h3>
			<h3 class="col-sm-6">投稿タイトル</h3>
			<h3 class="col-sm-3">日時</h3>
		</div>
		<% @receive_nagesens.each do |nagesen| %>
			<div class="col-sm-offset-1 col-sm-11" style="border-bottom: solid 1px white;">
				<div class="col-sm-3">
					<%= link_to user_path(nagesen.user) do %>
						<h3 style="color: white;">
							<%= nagesen.user.name.truncate(8) %>
						</h3>
					<% end %>
				</div>

				
				<div class="col-sm-6">
					<%= link_to content_path(nagesen.content) do %>
						<h3 style="color: white;"><%= nagesen.content.title.truncate(17) %></h3>
					<% end %>
				</div>
				<h3 class="col-sm-3">
					<%= nagesen[:created_at].strftime("%Y-%m-%d %H:%M") %>
				</h3>
			</div>
		<% end %>
	</div>

<!-- ForMove送信履歴 -->
	<div class="col-sm-6">
		<h1 class="col-sm-12 text-center" style="margin-bottom: 50px;">送信一覧</h1>
		<div class="col-sm-offset-1 col-sm-11" style="border-bottom: solid 1px white;">
			<h3 class="col-sm-3">送り先</h3>
			<h3 class="col-sm-6">投稿タイトル</h3>
			<h3 class="col-sm-3">日時</h3>
		</div>
		<% @nagesens.each do |nagesen| %>
			<% receive_user_id = nagesen.receive_user_id %>
				<div class="col-sm-offset-1 col-sm-11" style="border-bottom: solid 1px white;">
					<div class="col-sm-3">
						<%= link_to user_path(receive_user_id) do %>
							<h3 style="color: white;">
								<%= User.find(receive_user_id).name.truncate(8) %>
							</h3>
						<% end %>
					</div>
					<div class="col-sm-6">
						<%= link_to content_path(nagesen.content) do %>
							<h3 style="color: white;">
								<%= nagesen.content.title.truncate(17) %>
							</h3>
						<% end %>
					</div>
					<h3 class="col-sm-3">
						<%= nagesen[:created_at].strftime("%Y-%m-%d %H:%M") %>
					</h3>
				</div>
		<% end %>
	</div>
</div>
